<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ekstra.Properties.Settings.EkstraConnectionString"
            connectionString="Data Source=MSI\ABDURRAFI;Initial Catalog=Ekstra;User ID=sa;Password=D0b1k41z3n;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>